<h2>CRUD's</h2>
<div>
  <%= link_to 'Authors', authors_path %>
  <br>
  <br>
  <%= link_to 'Books', books_path %>
  <br>
  <br>
  <%= link_to 'Suppliers', suppliers_path %>
  <br>
  <br>
  <%= link_to 'Accounts', accounts_path %>
  <br>
  <br>
  <%= link_to 'Parts', parts_path %>
  <br>
  <br>
  <%= link_to 'Assemblies', assemblies_path %>
</div>