<p id="notice"><%= notice %></p>

<p>
  <strong>Part number:</strong>
  <%= @part.part_number %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @part.supplier_id %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
