<style>
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        background: #FFFFF0;
        margin-right: auto;
    }

    td {
        border: 1px solid black;
    }

    th {
        border: 1px solid black;
        background: #d0d0d0;
    }
</style>

<h1> Author's Report</h1>

<hr>

<h2>Author:</h2>

<p>
  <strong>Id:</strong>
  <%= @author.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @author.cpf %>
</p>

<hr>

<h2>Author's books:</h2>

<table>
  <thead>
  <tr>
    <th style="width:400px">Title</th>
    <th style="width:180px">Published at</th>
    <th style="width:200px">Isbn</th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.published_at %></td>
      <td><%= book.isbn %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>

<p>
  <strong>Total number of published books: </strong>
  <%= @books.count %>
</p>

<hr>