<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Auhtor's Report</h1>

<hr>

<h2>Author:</h2>

<p>
  <strong>Id:</strong>
  <%= @author.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @author.cpf %>
</p>

<hr>

<h2>Author's books:</h2>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Published at</th>
    <th>Isbn</th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.published_at %></td>
      <td><%= book.isbn %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>

<strong>Total number of published books: </strong>

<%= @books.count %>

<hr>

<br>

<%= link_to 'Back', authors_path %>

<br>
<br>

<%= link_to 'Generate report in pdf', author_path(@author, format: :pdf) %>
