<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Book Report</h1>

<hr>

<h2>Book:</h2>

<p>
  <strong>Id:</strong>
  <%= @book.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<hr>

<h2>Assembly book:</h2>

<p>
  <strong>Id:</strong>
  <%= @assembly.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @assembly.name %>

</p>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Part number</th>
    <th>Value</th>
  </tr>
  </thead>

  <tbody>
  <% @assembly.parts.each do |part| %>
    <tr>
      <td><%= part.name %></td>
      <td><%= part.part_number %></td>
      <td><%= part.value %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>

<p>
  <strong>Total assembly parts: </strong>
  <%= @assembly.parts.count %>
</p>

<hr>

<br>
<br>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
