<p id="notice"><%= notice %></p>

<h1 style="text-align: center">Book Report</h1>

<hr>

<h2>Book:</h2>

<p>
  <strong>Id:</strong>
  <%= @book.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @book.published_at %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<hr>

<h2>Assembly book:</h2>

<p>
  <strong>Id:</strong>
  <%= @assembly.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @assembly.name %>

</p>

<p>
  <strong>Part(s) name(s):</strong>

  <% @assembly.parts.each do |part| %>
    <%= part.name %>
    <%= " |" unless part.name.eql?(@assembly.parts.last.name)%>

  <% end %>
</p>

<br>
<br>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
