<p id="notice"><%= notice %></p>

<h1>Assemblies</h1>

<%= form_tag(assemblies_path, method: :get) do %>
  <%= text_field_tag 'search', nil, placeholder: 'Entre com o termo...' %>
  <%= submit_tag "Filtrar" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Book title</th>
      <th>Part name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assemblies.each do |assembly| %>
      <tr>
        <td><%= assembly.name %></td>
        <td><%= assembly.book.title %></td>
        <% assembly.parts.each do |part| %>
          <td><%= part.name %></td>
        <% end %>
        <td><%= link_to 'Show', assembly %></td>
        <td><%= link_to 'Edit', edit_assembly_path(assembly) %></td>
        <td><%= link_to 'Destroy', assembly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assembly', new_assembly_path %>
