<style>
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        background: #FFFFF0;
        margin: auto;
    }

    td {
        border: 1px solid black;
    }

    th {
        border: 1px solid black;
        background: #d0d0d0;
    }
</style>

<h1>Assembly Report</h1>

<hr>

<h2>Assembly:</h2>

<p>
  <strong>Id:</strong>
  <%= @assembly.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @assembly.name %>
</p>

<p>
  <strong>Book title:</strong>
  <%= @assembly.book.title %>
</p>

<p>
  <strong>Part name:</strong>
  <% @assembly.parts.each do |part| %>
    <%= part.name %>
  <% end %>
</p>

<hr>

<h2>Assembly book:</h2>

<p>
  <strong>Title:</strong>
  <%= @assembly.book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @assembly.book.author.name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @assembly.book.published_at %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @assembly.book.isbn %>
</p>

<hr>

<h2>Assembly parts:</h2>

<table>
  <thead>
  <tr>
    <th style="width:300px">Name</th>
    <th style="width:200px">Part number</th>
    <th style="width:200px">Value</th>
    <th style="width:400px">Supplier</th>
  </tr>
  </thead>

  <tbody>
  <% @assembly.parts.each do |part| %>
    <tr>
      <td><%= part.name %></td>
      <td><%= part.part_number %></td>
      <td><%= part.value %></td>
      <td><%= part.supplier.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>

<strong>Total assembly parts: </strong>

<%= @assembly.parts.count %>

<hr>

<strong>Total cost of assembly: </strong>

<%= @assembly.parts.sum(:value) %>

<hr>