<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assembly.name %>
</p>

<p>
  <strong>Book title:</strong>
  <%= @assembly.book.title %>
</p>

<p>
  <strong>Part name:</strong>
  <% @assembly.parts.each do |part| %>
    <%= part.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_assembly_path(@assembly) %> |
<%= link_to 'Back', assemblies_path %>
