<p id="notice"><%= notice %></p>

<h2>Assembly:</h2>

<p>
  <strong>Id:</strong>
  <%= @assembly.id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @assembly.name %>
</p>

<p>
  <strong>Book title:</strong>
  <%= @assembly.book.title %>
</p>

<p>
  <strong>Part name:</strong>
  <% @assembly.parts.each do |part| %>
    <%= part.name %>
  <% end %>
</p>

<hr>

<h2>Book:</h2>

<p>
  <strong>Title:</strong>
  <%= @assembly.book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @assembly.book.author.name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @assembly.book.published_at %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @assembly.book.isbn %>
</p>

<hr>

<h2>Parts:</h2>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Part number</th>
    <th>Value</th>
    <th>Supplier</th>
  </tr>
  </thead>

  <tbody>
  <% @assembly.parts.each do |part| %>
    <tr>
      <td><%= part.name %></td>
      <td><%= part.part_number %></td>
      <td><%= part.value %></td>
      <td><%= part.supplier.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'Edit', edit_assembly_path(@assembly) %> |
<%= link_to 'Back', assemblies_path %>
